block content
html.
    <div data-role="navbar" id="footer">
                    <ul>
                        <li><a href="/main" data-icon="home">Home</a></li>
                        <li><a href="/myAccount" data-icon="gear">My Account</a></li>
                      <!-- <li><a href="#landing" data-icon="info">Landing</a></li> -->
                       <!-- <li><a href="#page-signin" data-icon="info">Sign In</a></li> -->
                    </ul>
                </div>