extends layout
block content
    #0m(data-role='page')
        div(data-role='header')
            a.ui-btn-left.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-back(href='index.html', data-rel='back')
            h1 0 - 6 Months
        div(data-role='content')
            h3.center There are no videos currently available in this category
        include partials/footer.pug
