extends layout
block content
    - var videoName = videoName;

    #2y(data-role='page')
        div(data-role='header')
            a.ui-btn-left.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-back(href='index.html', data-rel='back')
            h1 2 - 5 Years
        div(data-role='content')
            ul#sections-2y(data-role='listview')

                    for video, i in videos

                        li
                            a(class = video.viewed,style={background: video.BG}, href='videoPage/' +video.url) #{video.name}
                    li
                        a.ui-btn.ui-icon-carat-r.ui-btn-icon-left(style={background: '#60c7dd'}, href='infographic') Keeping Your Child Safe
                    li
                        a.ui-btn.ui-icon-carat-r.ui-btn-icon-left(style={background: '#8F068D'}, href='usefulInfo') Useful phone numbers and web links
            

        include partials/footer.pug


