extends layout


block content
    #account(data-role='page')
        div(data-role='header')
            h1 Caring for Your Child
        div(data-role='content')
            h1 My account
            h2 Hi fName
            h3 Email
            p jnksjbvkb@bhdfsbhj.com
            p Check back here soon for added features!
            h2 Content property of HSE blabla
            


                    a.ui-btn.ui-corner-all(href='/logout') 
                        p Logout

        include partials/footer.pug
