extends layout


block content
    #account(data-role='page')
        div(data-role='header')
            h1 Caring for Your Child
        div(data-role='content')
            h1 My account
            h3 Email
            p #{emailMsg}
            p.center 
                b Check back here soon for added features!
            p.center.disclaimer The information contained in these videos is copyright of the HSE
            a.logout.ui-btn.ui-corner-all(href='/logout') 
                p Logout

        include partials/footer.pug
