extends layout
block content
    #infographic(data-role='page')
        div(data-role='header')
            a.ui-btn-left.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-back(href='index.html', data-rel='back')
            h1 Keeping Your Child Safe
        div.infographic(data-role='content')
            div.video-container
                img(src='../images/keeping_your_child_safe.jpg' width='100%')

        include partials/footer.pug

            

