extends layout


block content
 #login.bg-login(data-role='page' data-theme="a")
        div(data-role='header')
            h1 Log In
        div(data-role='content')
            h1 Please Log In
            form.form(method='POST', action='/login')
                p Email
                input(type='text', name='username')
                p Password
                input(type='password', name='password')
                |
                input(type='submit', value='Login')
            p.center Don't have an account?
            a(href='signup')
                p.center Create an account
                |
            p.center Or
            a(href='main') 
                p.center Continue without logging in