extends layout


block content
 #signup.bg-signup(data-role='page' data-theme="a")
        div(data-role='header')
            h1 Sign Up
        div(data-role='content')
            h1 Create an Account
            form.form(method='POST', action='/signup')
                p Email
                input(type='text', name='newUsername')
                p Password
                input(type='password', name='newPassword')
                | 
                input(type='submit', value='Submit')
            p.center Already have an account?
            a(href='login')
                p.center Login
                |
            p.center Or
            a(href='main') 
                p.center Continue without logging in