extends layout
block content
    #infographic(data-role='page')
        div(data-role='header')
            a.ui-btn-left.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-back(href='index.html', data-rel='back')
            h1 Useful Web Pages and Phone Numbers
        div.infographic(data-role='content')
            div.video-container
            div(data-role='collapsible', data-inset='false', data-mini='true')
                h1 Accident prevention and safety
                p Road Safety Authority www.rsa.ie 1890 50 60 80
                p Irish Sudden Infant Death Association www.isida.ie locall 1850 391 391

            div(data-role='collapsible', data-inset='false', data-mini='true')
                h1 Breastfeeding support
                p Breastfeeding Support Network www.breastfeeding.ie
                p Cuidiú, Irish Childbirth Trust www.cuidiu-ict.ie
                p La Leche League www.lalecheleague.org

            div(data-role='collapsible', data-inset='false', data-mini='true')
                h1 Child health information
                p Food Safety Authority of Ireland (information on food safety and hygiene) www.fsai.ie (01) 817 1300
                p Safe Food www.safefood.eu 1890 33 66 77
                p Heath Promotion Unit www.healthpromotion.ie 1850 24 1850
                p Health Protection Surveillance Centre www.hpsc.ie (01) 876 5300
                p National Immunisation Office www.immunisation.ie (01) 867 6108
                p Meningitis Research Foundation (information and support on meningitis) www.meningitis.org 1890 413 344

            div(data-role='collapsible', data-inset='false', data-mini='true')
                h1 Family planning information
                p Irish Family Planning Association:www.ifpa.ie 1850 49 50 51 Available in 8 centres around the country

            div(data-role='collapsible', data-inset='false', data-mini='true')
                    h1 Social welfare and services information
                    p Citizens Information www.citizensinformation.ie 1890 777 121
                    p Social welfare information www.welfare.ie 1890 928 400

            div(data-role='collapsible', data-inset='false', data-mini='true')
                    h1 Parent Support Information:
                    p Aware (support for depression) www.aware.ie 1890 303 302
                    p Adoption: International Adoption Assoc of Ireland www.iaaireland.org 01 4992206
                    p Barnardos (working with children and families) www.barnardos.ie 1850 222 300
                    p Cairde (challenging the health inequalities of ethnic minorities) www.cairde.ie (01) 855 2111
                    p Childminding Ireland (for registered childminders in your area) www.childminding.ie (040464007)
                    p The Equality Authority www.equality.ie 1890 245 545
                    p Fathers direct (information for fatherhood) www.fathersdirect.com
                    p Family Support Agency (a resource for families and family well being) www.fsa.ie (01) 611 4100
                    p Irish Multiple Births Association www.imba.ie (01) 874 9056 
                    p Irish Society for the Prevention of Cruelty to Children www.ispcc.ie (01) 676 7960
                    p Irish Refugee Council www.irishrefugeecouncil.ie (01) 764 5854
                    p Lifestart: Home-based education and support programme for parents www.lifestart.org (071) 9151114
                    p National Centre for Inherited Metabolic Disorders www.ncimd.ie
                    p National Disability Authority (and links to Irish disability organisations) www.ndale.ie (01) 608 0400
                    p National Immunisation Office www.immunisation.ie (01) 867 6108
                    p One Parent Family (voice, support and action for one parent family) www.onefamily.ie 1890 662 212
                    p Parentline (for parents under stress) www.parentline.ie 1890 927 277
                    p Pavee Point (Traveller development and support centre) 
                    p www.paveepoint.ie (01) 878 0255
                    p Treoir (national information service for unmarried parents and their children) 
                    p www.treoir.ie 1890 252 084


            div(data-role='collapsible', data-inset='false', data-mini='true')
                    h1 Links to Other Useful Websites
                    p www.adoptionboard.ie - Adoption Board -Adoption Authority - Adoption in Ireland is regulated by the Adoption Board / Authority which is an independent quasi-judicial statutory body appointed by Governmen

                    p alcoholireland.ie - Alcohol Action - Ireland Are you concerned about your own drinking or that of someone close to you?
                    p askaboutalcohol.ie - Ask About Alcohol Facts on alcohol and alcohol harm.
                    p alcoholireland.ie/get-help - Alcohol Service Finder is an online directory of alcohol services in Ireland and is searchable by location and by the age of the person for whom help is being sought. Alcohol Service Finder was developed by Alcohol Action Ireland, the national charity for alcohol-related issues, in response to members of the public seeking help to address their own drinking or that of a loved one
                    p artsandhealth.ie - Arts and Health - is a national website providing a focal point and resource for the field of arts and health in Ireland via resource documents, project case studies, a directory of contacts, perspectives on a range of issues and current news.

                    p birthmarkireland.com - Birthmark Ireland - a support website for parents of children with a birthmark
                    p breastcheck.ie - BreastCheck - is a Government-funded programme providing breast screening and invites women aged 50 to 64 for a free mammogram on an area-by-area basis every two years. The aim of BreastCheck is to reduce deaths from breast cancer by finding and treating the disease at an early stage.

                    p cawt.com - CAWT - Cooperation And Working Together (CAWT) is a partnership between the Health and Social Care Services in Northern Ireland and Republic of Ireland, which facilitates cross border collaborative working in health and social care.
                    p cso.ie - Central Statistics Office - The Central Statistics Office holds a comprehensive database of Irish statistical information
                    p cervicalcheck.ie - CervicalCheck - The National Cervical Screening Programme provides free smear tests to women aged 25 to 60. A smear test is a simple procedure that only takes minutes and is the most effective way to detect changes in the cells of the cervix.

                    p childrensfoodcampaign.net - Childrensfoodcampaign - The HSE and the National Heart Alliance are calling for a ban on TV advertising of unhealthy foods to children such as confectionary, salty snack foods, fizzy sugary drinks and fast food.  Scientific evidence links these foods to a poor diet and obesity in young people

                    p cypsc.ie - Children and Young People’s Services Committees - Children and Young People’s Services Committees (CYPSC) are a key structure identified by Government to plan and co-ordinate services for children and young people in every county in Ireland. The overall purpose is to improve outcomes for children and young people through local and national interagency working.www.cypsc.ie
                    p clarecare.ie - Clare Care - Clarecare is the largest Clare-based voluntary agency providing caring services for the people of Clare. Funded by the HSE, Clarecare provides the following services; Home Help, Social Work, Conas ata tu, Clarecare Day Centres, Family Support Services, Community Childcare, Family Work, Adolescent Services, Advocacy Service, Aftercare, Traveller Support, Springboard Project, Citizens Information Centre, Community Development, Volunteer co-ordination, duty service, Thrift shops, holiday houses.

                    p crimevictimshelpline.ie - Crime Victims Helpline - Crime Victims Helpline is a national helpline service for victims of crime.  Trained volunteers provide  listening and emotional support, information on all aspects of the criminal justice system, and liaise with Gardaí and other agencies and services.   They also provide information on local and specialist services which support victims of crime.
                    p crisispregnancy.ie

                    p ec.europa.eu/health - EU Health Portal - Information from the European Commission on health topics, lifestyle issues and health statistics

                    p safefoodonline.com - Safe Food - Food Safety Promotion Board - promotion of food safety, Research into food safety, Communication of food alerts, Surveillance of foodborne disease
                    p fedvol.ie - National Federation of Voluntary Bodies - The national umbrella organisation for voluntary/non-statutory agencies who provide direct services to people with intellectual disability. 

                    p hse.ie/eng/Staff/PCRS - HSE Primary Care Reimbursement Service - Formerly the General Medical Services (payment) Board Health Board, DPS card Tracker ,Optical Claim Entry System ,Doctors Claim Entry System, Optical And Dental Reports, Reimbursable Items

                    p healthdata.ie - Health Data Health data is a user-friendly web based tool for health-related information and knowledge exchange
                    p hiqa.ie - Health Information and Quality Authority - Independent Authority reporting to the Minister for Health and Children, set up to drive quality, safety, accountability and the best use of resources in health and social care services, whether delivered by public, voluntary or private bodies

                    p hia.ie - Health Insurance Authority - Independent regulator of the private health insurance industry, licensing private health insurers under the Health Insurance Acts and monitoring the health insurance market.
                    p Healthlink- Health link is an electronic communications project which facilitates the secure transfer of information between Primary and Secondary care. 

                    p healthlink.ie -  Health Protection Surveillance Centre - HPSC is part of the HSE and collates, interprets and disseminates data to provide the best possible information on infectious diseases
                    p hpsc.ie - Health Protection Surveillance Centre - HPSC is part of the HSE and collates, interprets and disseminates data to provide the best possible information on infectious diseases
                    p hse.ie/eng/health/immunisation - Immunisation - the HSE immunisation website provides information on immunisation for the General Public and Healthcare Professionals

                    p publichealth.ie - Institute of Public Health - established in 1999 to promote co-operation for public health on the island of Ireland
                    p irishadvocacynetwork.com - Irish Advocacy Network - to give support and information to people with mental health difficulties by befriending them and offering a confidential listening ear or peer advocacy
                    p Letsomeoneknow.ie is an interactive website developed by the HSE aimed at increasing young people’s awareness about mental health and well-being as well as providing some advice and contact details for support.











        include partials/footer.pug

            

