extends layout
block content
    - var videoWatched = ''
    #videoPage(data-role='page')
        div(data-role='header')
            a.ui-btn-left.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-back(href='index.html', data-rel='back')
            h1 Feeding your Child
        div(data-role='content')
            video(id='video1', width='320', height='240', controls='')
                    source(src='../' + video.name + '.mp4')
            div(data-role='collapsible', data-inset='false', data-mini='true')
                h1 More about Feeding your Child
                p
                    b #{videoText}

        include partials/footer.pug
    script.
        var vid = document.getElementById("video1")
            vid.onended = function() {
            console.log('hi');
            videoWatched = true;
            console.log(videoWatched);
            }
            

