* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
    user-select: none;                /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family: 'Maven Pro', sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    
}
.ui-overlay-a { 
   text-shadow:0 0 0 !important; 
}
.ui-page-theme-a{ 
   text-shadow:0 0 0 !important; 
}
.ui-header {
    height: 8vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina', cursive;
}
.ui-title {
    margin: 0.6em 10% 0.8em !important;
    font-size: 20px !important;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
.bg-login {
    background: url(../images/bg_loginw.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:cover; 
}
.bg-signup {
    background: url(../images/bg_signupw.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:cover; 
}
.center{
    margin: 15px auto 0 auto;
    text-align:center;
}
.colour-2y-light {
    background-color:#bddf55;
}
.colour-2y-dark {
    background-color:#60c7dd
}
#home #ageList{
	height: 100%;
}
#home #ageList li a {
	height: 28vh;
}
#home #ageList li #enter0m {
	background: url(../images/bg_0m.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center left;
    background-color:#60c7dd;
    margin: 0px;
    padding: 0px;

}
#home #ageList li p {
    display: block;
    margin-left: 65vw;
    margin-top: 18vh;
    font-size: 18px;
    font-weight: bold;
    
}
#home #ageList li #enter6m {
	background: url(../images/bg_6m.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center left;
    background-color:#fda13b;
    margin: 0px;
    padding: 0px;
    
}
#home #ageList li #enter2y {
	background: url(../images/bg_2y.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center left;
    background-color:#bddf55;
    margin: 0px;
    padding: 0px;
}
#footer {
	background-color:#000000;
    position: absolute;
    width:100%;
    height: 8vh;
    bottom: 0;
    margin: 0px;
    padding: 0px;
	/*background-image:url(../plugins/images/your-3-year-old-development-behavior-and-parenting-tips-1.jpg);*/
}
.form{
    margin-top: 10vh;
    margin-bottom: 10vh;
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:bold;
    /*margin:0px;
    overflow:visible;
    padding:0px;*/
    text-align:center;
}
h2.cfyc-text-danger,
h3.cfyc-text-danger  {
    color:red;
}


.ui-btn.ui-icon-check.ui-btn-icon-left.viewed-icon:after {
     background-color: #00ff00;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
